aside.read-style.category
  section.events
    .hd
      h3 健康信息
    ul.express
      li.item
        a(href="#") 医药报告通知
      li.item
        a(href="#") 医药报告通知
  section.nav
    .hd.hd-bottom
      h3 我的问医
    ul.admin-nav-list
      - var menus = [{text:'我的病历',href:'history'},{text:'我的问诊',href:'ask'},{text:'我的药品',href:'medicine'},{text:'我的问题',href:'question'}]
        each menu in menus
          - var active = ''
          if cat != ''
            if menu.href == cat
              - active = 'cur'
          li
           a(href="/doctor/#{menu.href}",class="#{active}") #{menu.text}