extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include aside
    article.read-style
      section.admin-title.line.clearfix
        h1.fl-l #{title}
      if doc
        fdf         
      else
        table.table.table-top.order-table
            caption.line 您现在没有药品信息
block script
  script(src="/js/doctor.js")
