extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include ../layouts/aside
    article#content
      .wrap
        section.admin-title.line.clearfix
          h1.fl-l #{title}
        if !!doc.length
          each q in doc
            table.table.table-top.order-table.form-inline.medicine-form
              caption 
                if !q.reply
                  a(style="color:red") 该问题还未回复
                else
                  | 问题已经被#{q.replyuser}回复了
              tbody
                tr
                  td.reply 问题：
                  td= q.title
              if !!q.reply
                tfoot
                  tr
                    td.reply 回复
                    td #{q.content}       
        else
          table.table.table-top.order-table
              caption.line 您还没有不明白的问题
block script
  script(src="/js/doctor.js")
