aside.read-style
  section.events
    .hd
      h3 社区统计
    .bd.bd-top.bd-back
      ul
        li
          a 注册人数：333
        li
          a 在线人数：333

  section.nav
    .hd.hd-bottom
      h3 分类管理
    ul.admin-nav-list
      - var menus = [{text:'管理员管理',href:'/admin',cur:'index'},{text:'公告管理',href:'/admin/notice',cur:'notice'},{text:'社区居民',href:'/admin/people',cur:'people'},{text:'订餐管理',href:'/admin/meal',cur:'meal'},{text:'问医管理',href:'/admin/doctor',cur:'doctor'},{text:'服务管理',href:'/admin/service',cur:'service'},{text:'活动管理',href:'/admin/exercise',cur:'exercise'},{text:'问题管理',href:'/admin/question',cur:'question'},{text:'权限管理',href:'/admin/limits',cur:'limits'}]
      each menu in menus
        - var active = '';
          if menu.cur == cur
            - active = 'cur'
          li
            a(href="#{menu.href}",class="#{active}") #{menu.text} 