nav
  if user
    ul.login.fl-r
      li.user
        a(href="#") #{user.username}
      li.logout
        a(href="/logout") 退出
    .nav-wrap
      ul.nav-list
        - var menus = [{text:'公告管理',href:'/admin/notice',cur:'notice'},{text:'人员管理',href:'/admin/people',cur:'people'},{text:'订餐管理',href:'/admin/meal',cur:'meal'},{text:'问医管理',href:'/admin/doctor',cur:'doctor'},{text:'服务管理',href:'/admin/service',cur:'service'},{text:'问题管理',href:'/admin/question',cur:'question'},{text:'权限管理',href:'/admin/limits',cur:'limits'}]
          each menu in menus
            - var active = '';
            if menu.cur == cur
              - active = 'cur'
            li(class="#{active}")
              a(href="#{menu.href}") #{menu.text} 