header
  #head-nav.container.clearfix
    h1#logo
      a(href="/admin") #{title}
    #description 管理后台
  
  nav
    .nav-wrap.container.clearfix
      if user
        a 欢迎来到管理后台，
          strong #{user.username}
        ul.login
          li.user
            a(href="#") #{user.username}
          li.logout
            a(href="/admin/logout") 退出
      else
        ul.no-login
          li
            a 吉祥社区管理后台，厨房重地，闲杂人等留下买路钱！