-if(!pjax){
!!!5
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet",href="/css/style.css")
    body
-}
      if !pjax && user
        include nav
      block content
    if !pjax
      include footer
      block script