extends layouts/header
block content
  #pjax-index.container
    .title.login-info 登入社区
    .content
      .main
        form(class="form form-inline",method="post",action="/login")
          fieldset
            .form-item
              label(for="username") 用户名
              input(type="text",id="username", name="username")

            .form-item
              label(for="password") 密码
              input(type="password",id="password",name="password")
            .form-item.form-actions
              button(class="btn",type="submit") 登入
    .sidebar
       p 还没有帐号？
       p 
        a.btn-reply(href="/reg") 立即注册
block script
  script(src="/js/sign.js")
