extends layouts/header
block content
  #container.container
    if(user)
      .title.my-info 我的信息流
      .content
        //个人信息流
        .main
          .flow-mod
            .flow-hd
              h3 服务
            .flow-bd
              p xxxxx
      .sidebar
        //公告
        .notice.mod
          .notice-hd.hd
            h2 社区公告
          .bd
            if(notice.length)
              p #{notice[0].content}
            else
              p 暂无公告
        //健康趋势
        #healthy.mod
          .notice-hd.hd
            h2 健康走势图
          .bd
            