/**
 *  animate css3
 *
 *  @jixiangac
 *  
 *  css3动画类
 */


/*左右缓动的效果*/
.easing{
  -webkit-animation: ozShareboxSlide .5s ease-out;
}

/*旋转*/
.rotateinit{
   -webkit-perspective : 3000px;
  perspective: 3000px;
  -webkit-perspective-origin : 50% 200px;
  perspective-origin: 50% 200px; 
}
.rotate90{
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.rotate0{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}