/**
 * @Description    社区基础样式
 * @Author         jixiangac
 * @Email          jixiangac@gmail.com
 */

/*= Reset default browser CSS. Based on work by Eric 
    Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
 ---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
ol, ul{
	list-style:none;
}
table{ /* tables still need 'cellspacing="0"' in the markup */
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td{
	font-weight:normal;
	text-align:left;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:"";
}
blockquote, q{
	quotes:"" "";
}
textarea{
  resize:none;
}
a{
  text-decoration: none;
  color: #6E3939;
}
a img{
	border:0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display:block;
}

::-webkit-selection,
::-moz-selection,
::selection{
	background-color:#0099cc;
	color:#fff; }

html, body{
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
	/* prevent subpixel antialiasing, which thickens the text */
	/* text-rendering: optimizeLegibility; */
	/* turned off ligatures due to bug 5945455 */ }
body{
	color:#222;
	line-height: 1;
	font:12px/1.5 Arial,Helvetica,sans-serif;
}
p{
  margin-bottom: 10px;
  line-height: 1.8;
  text-indent: 2em;
}
.non-indent p{
  text-indent: 0;
}
.fl-r,.fl-l{
  display: inline;
}
.fl-r{
  float: right;
}
.fl-l{
  float: left;
}
.m10{
  margin-left: 10px;
}
.m20{
  margin-left: 20px;
}
.hide{
  display: none;
}
/*清除浮动*/
.clearfix:before, .clearfix:after,.hd:before,.hd:after{ content:"."; display:block; height:0; visibility:hidden }
.clearfix:after,.hd:after{ clear:both }
.clearfix,.hd{ zoom:1 }

::-webkit-scrollbar{ width:10px; margin-right:2px }
::-webkit-scrollbar-track-piece{background-color:#F5F5F5;border-left:1px solid #D2D2D2;}
::-webkit-scrollbar-thumb{ background:#CBCBCB; width:10px }
::-webkit-scrollbar-thumb:hover{ background:#909090 }

/*= Button & Input
 ----------------------*/
 /*按钮*/
.common-btn{
  cursor: pointer;
  padding: 4px 12px;
  vertical-align: middle;
  border-radius: 3px;
}
.edit,.red-btn{
  background: #6E3939;
  color: #fff;
  margin-right: 5px;
}
.pink-btn{
  background: #ca8687;
  color: #fff;
  margin-right: 5px;
}
.delete,.history,.grey-btn{
  background: #ddd;
  color: #888;
}
.useful-btn{
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 3px;
  border:1px solid #C2E5C8;
  background: #EAFAEC;
  color: #70B07C;
}
.useless-btn{
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 3px;
  border:1px solid #a9a8a8;
  background: #ddd;
  color: #888;
}
.btn {
  display: inline-block;
  *display: inline; 
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
/*.btn:active {*/
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}
 /*= 布局样式
  --------------------*/
/*侧边栏导航*/
aside.read-style{
  float: left;
  width: 200px;
}
section.line{
   border-bottom: 1px solid #ddd; 
}
/*aside&article左右换栏*/
.ex-side aside{
  float: right;
}
.ex-side article{
  float: left;
}
/*hd&bd线条*/
.hd-bottom{
  border-bottom: 1px solid #eee;
}
.bd-top{
  border-top: 2px solid #6E3939;
}
.bd-back{
  background: #F8F8F2;
}
/*分类导航*/
.admin-nav-list li{
  display: block;
  border-bottom: 1px solid #eee;
}
.admin-nav-list li a{
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  margin: 1px 0;
  padding: 0 5px;
  color: #6E3939;
}
.admin-nav-list li a:hover,.admin-nav-list li a.cur{
  background: #F2F2EC;
}
/*布局*/
section.admin-title{
  margin-top:11px;
}
section.admin-title h1{
  font-size: 16px;
  font-weight:bold;
  color: #666;
  color: #ca8687;
  border-left:4px solid #ca8687;
  padding-left: 20px;
  margin-bottom: 8px;
}
/*表格*/
.table-top{
  margin-top: 20px;
}
.table{
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table tr{
  height: 45px;
  line-height: 45px;
}
.table tbody tr:hover{
  background: #f8f8f8;
}
.table th{
  color: #666;
  border-bottom: 1px solid #ddd;
}
.table td{
    border-bottom: 1px dashed #ddd;
}
.table th,.table td{
  text-align: center;
}
/*订单类表格*/
.order-table{
  margin-top: 15px;
}
.order-table td,.order-table caption{
  border: 1px solid #ddd;
}
.order-table caption{
  padding : 10px 0;
  border-bottom: 0;
  background:  #F6F6F6;
  color: #52946F;
  text-align: center;
}
.order-table td{
  text-align: left;
  padding-left: 12px;
}
.order-table tbody tr:hover{
  background:#EAF9E6;
}
/*分页*/
.pagenav{
  margin-top: 15px;
}
.pagenav a{
  color: #7BAFA7;
}
.pagenav span{
  color: #6E3939;
}
.pagenav .page-numbers{
  background: #F1F2F4;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  margin: 2px;
  padding: 2px 10px;
}
.pagenav .cur,.pagenav a:hover{
  background: #7BAFA7;
  color: #fff;
}
/*= 内容区
-----------*/
article.read-style{
  float: right;
  width: 760px;
}
aside.read-style section{
  margin-bottom: 6px;
}
.read-style section h3{
  font-size: 18px;
  color: #666;
  font-weight: bold;
}
span.label{
  color: #666;
  margin-right: 5px;
}
span.label-block{
  display: block;
  float: left;
  width: 77px;
}
/*格局*/
 .container{
  	width:980px;
  	margin:0 auto;
  }
  .mod{
    margin-top:10px;
    background: #F8F8F8;
    border-radius:5px;
  }
  .mod h2{
    color:#060;
    font-size:14px;
  }
  .hd{
    padding: 8px;

  }
  .bd{
    padding:10px;
  }
 /*表单*/
 .form-inline .form-item{
 	margin-bottom:15px;
 }
 .form-inline label{
   display: inline-block;
   *display:inline;
   *zoom:1;
   width:80px;
   text-align:right;
   margin-right:10px;
   line-height: 30px;
   vertical-align: baseline;
   font-size: 14px;
 }
 .form-inline input,.form-inline select{
 	border:1px solid #ccc;  
 	border-radius:4px;
 	height:20px;
 	line-height:20px;
 	vertical-align: middle;
 	padding: 4px 6px;
 	font-size:14px;
 	width:270px;
 }
 .form-inline input:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 }
 .form-inline .form-actions{
 	margin-top:10px;
 	padding-left:90px;
 }
 .form-inline select{
   width:93px;
   height:30px;
   margin-right: 4px;
 }
 /*= 导航 & 菜单
 --------------*/
 header{
 	background:#F6F6F1;
 	width:100%;
 	padding-top: 15px;
  margin-bottom: 20px;
 }
 #head-nav{
 	padding-bottom:15px;
 }
 #logo{
 	text-indent:-999em;
 	width:150px;
 	height:43px;
 	background:url(/images/logo.png) 0 0 no-repeat;
 	float:left;
 }
 #logo a{
  display: block;
  height: 100%;
 }
 #description{
 	float: left;
 	line-height: 43px;
 	margin-left: 20px;
 }
 /*菜单*/
 nav li{
 	display: inline;
 }
 nav li a{
 	color: #6E3939;
 	font-size: 14px;
 	padding: 5px;
 }
 nav{
 	padding: 8px 0;
 	border-top: 1px solid #ddd;
 }
.nav-list{
	padding-left:10px;
	float:left;
}

.nav-list li{
  margin-right: 20px;
}
.nav-list li a:hover,.nav-list li.cur a{
	border-radius: 3px;
	background:#6E3939;
	color:#fff;
}
/*登入信息*/
.login{
	float:right;
}
.login li.logout:before{
	color: #ADADA9;
	content:'|';
	margin-right:10px;
}

/*= 底部
-----------*/
footer{
  clear:both;
  overflow: hidden;
  padding: 10px 0;
}
footer .container{
  border-top: 1px solid #E7E7DC;
  padding: 10px 0 0;
}
footer .copyright{
  float:left;
}
footer .ft-nav{
  float:right;
}
footer .ft-nav a{
  margin: 0 3px;
}
footer .ft-nav a:hover{
  color: #fff;
  background: #6E3939;
}