/**
 * @Description    社区基础样式
 * @Author         jixiangac
 * @Email          jixiangac@gmail.com
 */

@import 'reset.css';
@import 'btn.css';
@import 'box.css';

 /*= 布局样式
  --------------------*/
/*侧边栏导航*/
aside.read-style{
  float: left;
  width: 200px;
}
section.line{
   border-bottom: 1px solid #ddd; 
}
/*aside&article左右换栏*/
.ex-side aside{
  float: right;
}
.ex-side article{
  float: left;
}
/*hd&bd线条*/
.hd-bottom{
  border-bottom: 1px solid #eee;
}
.bd-top{
  border-top: 2px solid #6E3939;
}
.bd-back{
  background: #F8F8F2;
}
/*分类导航*/
.admin-nav-list li{
  display: block;
  border-bottom: 1px solid #eee;
}
.admin-nav-list li a{
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  margin: 1px 0;
  padding: 0 5px;
  color: #6E3939;
}
.admin-nav-list li a:hover,.admin-nav-list li a.cur{
  background: #F2F2EC;
}
/*布局*/
section.admin-title{
  margin-top:11px;
}
section.admin-title h1{
  font-size: 16px;
  font-weight:bold;
  color: #666;
  color: #ca8687;
  border-left:4px solid #ca8687;
  padding-left: 20px;
  margin-bottom: 8px;
}
/*表格*/
.table-top{
  margin-top: 20px;
}
.table{
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/*.table tr{
  height: 45px;
  line-height: 45px;
}*/
.table tbody tr:hover{
  background: #f8f8f8;
}
.table th{
  color: #666;
  border-bottom: 1px solid #ddd;
}
.table td{
    border-bottom: 1px dashed #ddd;
    padding: 10px;
}
.table th,.table td{
  text-align: center;
}
/*订单类表格*/
.order-table{
  margin-top: 15px;
  box-shadow: 1px 1px 8px #ddd;
  width:707px;
}
.order-table td,.order-table caption,thead.tab-title th{
  border: 1px solid #ddd;
}
thead.tab-title tr{
  height : 30px;
  line-height: 30px;
}
.order-table caption,thead.tab-title{
  padding : 10px 0;
  border-bottom: 0;
  background:  #F6F6F6;
  color: #52946F;
  text-align: center;
}
.order-table td{
  text-align: left;
  padding-left: 12px;
}
.order-table tbody tr:hover,.order-table tbody tr.cur{
  background:#EAF9E6;
}
.order-table .line{
  border-bottom: 1px solid #ddd;
}
.order-table .reply{
  width: 87px;
}
.order-table td.cat{
  width: 26px;
  text-align: center;
}
td.btn-control a{
  margin-left :14px;
}
a.reply{
  float:right;
  margin-right: 5px;
}
a.btn-reply{
  cursor: pointer;
}
a.btn-reply:hover{
  background:#37A;
  color: #fff;
}
a.btn-reply:active{
  background:#F93;
  color: #fff;
}
/*分页*/
.pagenav{
  margin-top: 15px;
}
.pagenav a{
  color: #7BAFA7;
}
.pagenav span{
  color: #6E3939;
}
.pagenav .page-numbers{
  background: #F1F2F4;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  margin: 2px;
  padding: 2px 10px;
}
.pagenav .cur,.pagenav a:hover{
  background: #7BAFA7;
  color: #fff;
}
/*= 内容区
-----------*/
article.read-style{
  float: right;
  width: 760px;
}
aside.read-style section{
  margin-bottom: 6px;
}
.read-style section h3{
  font-size: 18px;
  color: #666;
  font-weight: bold;
}
span.label{
  color: #666;
  margin-right: 5px;
}
span.label-block{
  display: block;
  float: left;
  width: 77px;
}
/*格局*/
.container{
  width:980px;
  margin:0 auto;
}
#container{
  border:1px solid #d7d7d7;
  border-radius: 5px;
  background: #fff url(/images/aside.png) 0 0 repeat-y;
  /*box-shadow: 1px 1px 5px #d7d7d7;*/
}
.mod{
  margin-top:10px;
  background: #F8F8F8;
  border-radius:5px;
}
.mod h2{
  color:#060;
  font-size:14px;
}
.hd{
  padding: 8px;

}
.bd{
  padding:10px;
}
 /*= 导航 & 菜单
 --------------*/
 header{
 	background:#F6F6F1;
 	width:100%;
 	padding-top: 15px;
  margin-bottom: 20px;
 }
 #head-nav{
 	padding-bottom:15px;
 }
 #logo{
 	text-indent:-999em;
 	width:150px;
 	height:43px;
 	background:url(/images/logo.png) 0 0 no-repeat;
 	float:left;
 }
 #logo a{
  display: block;
  height: 100%;
 }
 #description{
 	float: left;
 	line-height: 43px;
 	margin-left: 20px;
 }
 /*菜单*/
 nav li{
 	display: inline;
 }
 nav li a{
 	color: #6E3939;
 	font-size: 14px;
 	padding: 5px;
 }
 nav{
 	padding: 8px 0;
 	border-top: 1px solid #ddd;
 }
.nav-list{
	padding-left:10px;
	float:left;
}

.nav-list li{
  margin-right: 20px;
}
.nav-list li a:hover,.nav-list li.cur a{
	border-radius: 3px;
	background:#6E3939;
	color:#fff;
}
/*登入信息*/
.login{
	float:right;
}
.login li.logout:before{
	color: #ADADA9;
	content:'|';
	margin-right:10px;
}

/*= 底部
-----------*/
footer{
  clear:both;
  overflow: hidden;
  padding: 10px 0;
}
footer .container{
  border-top: 1px solid #E7E7DC;
  padding: 10px 0 0;
}
footer .copyright{
  float:left;
}
footer .ft-nav{
  float:right;
}
footer .ft-nav a{
  margin: 0 3px;
}
footer .ft-nav a:hover{
  color: #fff;
  background: #6E3939;
}

/*=侧边栏
-----------*/
aside.myaside{
  float:left;
  width: 143px;
  padding: 10px 0;
}
.aside-list{
  font-size: 14px;
}
.aside-list h3{
  margin-left: 15px;
  color: #555;
  font-weight: bold;
}
.aside-list li a{
  display:block;
  padding-left: 30px;
  color: #666;
  height: 28px;
  line-height: 28px;
}
.aside-list{
  margin-top:10px;
}
.aside-list li a:hover{
  background: #e6e6e6;
  color: #000;
}
/*= 内容区
------------*/
#content{
  width: 837px;
  float: left;
  overflow: hidden;
}
.wrap{
  width: 710px;
  margin: 20px auto;
}
#content section{
  margin-left:0;
}
section.tab ul{
  /*margin-left: 124px;*/
}
section.tab ul li{
  float:left;
}
section.tab ul li a{
  display: block;
  padding: 8px 10px;
  border: 1px solid #ddd;
  margin: 0 5px -1px 0;
  cursor: pointer;
  background: #f1f1f1;
}
section.tab ul .tab-title{
  padding: 6px 34px;
  font-size: 14px;
  font-weight: bold;
  color: #888;
}
section.tab ul li a:hover,section.tab ul li a.cur{
  color:#000;
}
section.tab ul li a.cur{
  background:#fff;
  border-bottom: 1px solid #fff;
}