/**
 *  盒子box
 *  @jixiangac
 */

/*灰色盒子*/
.mod-grey{
  background: #f5f5f5;
  border-radius: 2px;
}
.mod-grey-hd{
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 30px;
}
.mod-grey-bd-top{
  padding-top: 30px;
}
.mod-grey-ft{
  padding: 10px 5px;
  line-height: 30px;
  background: #fff;
}
.mod-grey-shadow{
  box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}
.mod-grey-pdg{
  padding: 30px 80px;
}
