/**
 * 吉祥社区
 * 
 * @jixiangac
 * 
 * 表格样式
 * 
 */

.order{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 100%;
}
.order tr{
  border-top: 1px solid #ccc;
  background: #fff;
}
.order tr:nth-child(2n){
  background: #f8f8f8;
}
.order td,.order th{
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.order th{
  text-align: center;
}

.order tr.space{
  height: 20px;
  background: none;
  border: 0;
}
.order tr.space td{
  border: 0;
}
.order td.total {
  vertical-align: middle;
  text-align: center;
}