aside.read-style.category
  section.events
    .hd
      h3 健康信息
    ul.express
      li.item
        a(href="#") 医药报告通知
      li.item
        a(href="#") 医药报告通知
  section.nav
    .hd.hd-bottom
      h3 我的问医
    ul.admin-nav-list
      - var menus = [{text:'家政首页',href:'/'},{text:'我的家政',href:'/ask'},{text:'我的问题',href:'/question'}]
        each menu in menus
          li
           a(href="/service#{menu.href}") #{menu.text}