aside.read-style.category
  section.events
    .hd
      h3 我的订单
    //订单
    #orderlist.bd-top

  section.nav
    .hd.hd-bottom
      h3 订单情况
    ul.admin-nav-list
      - var menus = [{text:'等待配送',href:'/meal/order/sub',cur:'sub'},{text:'已配送',href:'/meal/order/send',cur:'send'},{text:'已完成',href:'/meal/order/done',cur:'done'}]
      each menu in menus
        - var active = ''
        if menu.cur == orderCur
          - active = 'cur'
        li
          a(href="#{menu.href}",class="#{active}") #{menu.text}