extends ../layouts/header
block content
  #container
    article.container
      section.mod-grey-hd
        h3.business-title 请点击你想要选购的
          a.fl-r(href="/meal") 返回上一级
      section.mod-grey-bd.container
        h3.business-title(style="text-align:center;font-size:18px;") 
          b 欢迎来到 『#{result.shop.name}』餐厅
        #business-list
          #meal-detail-list
            a.business-item.mod-grey.meal-selected
              .mod-grey-hd
                span 小馄饨
                em.fl-r 6元
              i.num 1
            if result.shop.list.length
              each item in result.shop.list
                a.business-item.mod-grey
                  .mod-grey-hd
                    span= item.name
                    em.fl-r= item.price 
                      | &nbsp;元
        .sub-action.ml30
          button#meal-sub(class="btn btn-info") 就这样吧
        
