extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include ../layouts/aside
    article.read-style
      section.admin-title.line.clearfix
        h1.fl-l 订餐管理
        a.common-btn.grey-btn.m20 添加新菜品
        a.common-btn.pink-btn.fl-r(href="/admin/meal/control") 菜品管理
        a.common-btn.pink-btn.fl-r(href="/admin/meal") 订单管理

      section.add-meal
        form(action="/admin/meal/add",method="post",enctype="multipart/form-data")
          .detail-img-bg
            .detail-img
              input(type="file",name="upload",value="")
          .detail-info.non-indent.m20
            p
              span.label 菜品名称：
              input(type="text",name="meal_name")
            p
              sapn.label 推荐：
              label 
                input(type="radio",name="meal_handpick",value="1")
                |是
              label 
                input(type="radio",name="meal_handpick",value="2") 
                |否
            p
              span.label 菜品分类
              select(name="meal_cat")
                option(value="1") 早餐
                option(value="2") 午饭
                option(value="3") 下午茶
                option(value="4") 晚饭
            p
              span.label 菜品供应商：
              input(type="text",name="meal_supplier")
            p
              span.label 菜品价格：
              input(type="text",name="meal_price")
            p
              span.label 描述：
              textarea(name="meal_description",cols="50",rows="10")
            p
              span.label &nbsp;
              button(type="submit") 增加
