extends ../layouts/header
block content
   #container
    article.mod-grey.clearfix
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 编辑新商家
          li
            a.cur #{result.shop.name}
          li
            a(href="/admin/meal/shop") 商家管理
      section.mod-grey-bd.mod-grey-bd-pd20
        div.mb20
          img(src="/images/shop/#{result.shop.pic}", alt="#{result.shop.name}",style="width:300px;height:300px;overflow:hidden;margin:0 auto;display:table;")
        div.mb10
          a#add-meal.btn 增加一个菜
        table#meal-table.order(style="width:710px;",data-shop="#{result.shop._id}")
          thead
            tr
              td.reply 菜名
              td.reply 价格
              td 描述
              td.reply 操作
          tbody
            if result.shop.list.length
              each shop in result.shop.list
                tr
                  td(name="name").meal-item= shop.name
                  td(name="price").meal-item= shop.price
                  td(name="des").meal-item= shop.des
                  td.reply.btn-control
                     a.btn-reply(role="modify") 修改
                     a.btn-reply.ml10(role="delete") 删除
            else       
              tr#no-meal
                td(colspan="4",style="text-align:center;")
                  a 还没有菜单信息，点击【增加一个菜】进行添加
          tfoot
            tr#meal-model.hide
              td 
                input.meal-item(type="text", name="name")
              td
                input.meal-item.span20(type="text", name="price")
              td 
                input.meal-item(type="text", name="des")
              td.reply.btn-control
                 a.btn-reply(role="save") 保存
                 a.btn-reply.ml10(role="cancel") 取消
